.git
.gitignore
node_modules
**/node_modules
.next
**/.next
.venv
**/.venv
venv
__pycache__
**/__pycache__
.pytest_cache
.mypy_cache
.ruff_cache
*.pyc
*.pyo
*.pyd
*.log
.env
.env.*
Dockerfile*
docker-compose*.yml
